@page "/contacts/{id:guid}/edit"
@using FrontEnd.Models
@using FrontEnd.Services;
@using System.Net.Http.Headers;
@using System.Text.Json
@using System.Text
@inject HttpClient Http
@inject NavigationManager Navigation
@inject AuthService AuthService
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage


<PageTitle>Edycja kontaktu</PageTitle>

<h1>Edycja kontaktu</h1>

@if (ogContact != null && contact != null)
{
    <!-- Contact edit form -->
    <EditForm Model="@contact" OnValidSubmit="SaveContact">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <!-- Name form field-->
        <div>
            <label>Imię</label>
            <InputText class="form-control" @bind-Value="contact.Name" />
            <ValidationMessage For="@(() => contact.Name)" />
        </div>

        <!-- Surname form field-->
        <div>
            <label>Nazwisko</label>
            <InputText class="form-control" @bind-Value="contact.Surname" />
            <ValidationMessage For="@(() => contact.Surname)" />
        </div>

        <!-- Email form field-->
        <div>
            @if (emailExists)
            {
                <div class="text-danger">Ten email jest już w użyciu.</div>
            }
            <label>Email</label>
            <InputText class="form-control" @bind-Value="contact.Email" />
            <ValidationMessage For="@(() => contact.Email)" />
        </div>

        <!-- Password form field-->
        <div>
            <label>Hasło (pozostaw puste jeśli bez zmian)</label>
            <InputText class="form-control" type="password" @bind-Value="contact.Password" />
            <ValidationMessage For="@(() => contact.Password)" />
        </div>

        <!-- Category form field-->
        <div>
            <label>Kategoria</label>
            <InputSelect class="form-control" @bind-Value="selectedCategory">
                @foreach (var category in categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </InputSelect>
        </div>

        <!-- Subcategory form field-->
        <div>
            <label>Podkategoria</label>

            @if (!IsCustomSubCategory)
            {
                <InputSelect class="form-control" @bind-Value="selectedSubCategory">
                    @foreach (var sub in filteredSubCats)
                    {
                        <option value="@sub.Name">@sub.Name</option>
                    }
                </InputSelect>
            }
            else
            {
                <InputText class="form-control" @bind-Value="selectedSubCategory" />
            }
        </div>

        <!-- Phone form field-->
        <div>
            <label>Numer telefonu</label>
            <InputText class="form-control" @bind-Value="contact.Phone" />
            <ValidationMessage For="@(() => contact.Phone)" />
        </div>

        <!-- BirthDate form field-->
        <div>
            <label>Data urodzenia</label>
            <InputDate class="form-control" @bind-Value="contact.BirthDate" />
            <ValidationMessage For="@(() => contact.BirthDate)" />
        </div>


        <button type="reset" class="btn btn-secondary" @onclick="SetToDefaultValues">Reset</button>
        <button type="submit" class="btn btn-secondary">Wyślij</button>
    </EditForm>
}
else
{
    <p>Wybrano nieprawidłowy kontakt do edycji.</p>
}

<br />
<br />

<button class="btn btn-secondary" @onclick="() => RedirectToDetails(id)">
    Wróć dp szcegółów kontaktu
</button>

@code {
    
}
